@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


html{
    font-family: 'Poppins', sans-serif;
    
}

.grid-template-areas{
    grid-template-areas: "sidenav main-content"
    "now-playing now-playing";
}

.content{
    grid-area: main-content;
}
.now-playing{
    grid-area: now-playing;
}
.sidenav{
    grid-area: sidenav;
}

.scrollbarhidden::-webkit-scrollbar {
    display: none;
}
.scrollbarhidden {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.track:hover .track-no, .track:selected .track-no {
    visibility: hidden;
}
.track:hover .play,.track.selected .play {
    visibility: visible;
    cursor: pointer;
}